li{
    margin: 20px;
    font-size: 24px;
    font-family: 'SF Pro Text';
    font-weight: 600;
  }
:root {
    --primery:#0052FFFF;
    --secondary:#FE9526;
    --info:#FFCB2F;
    --success:#53D86A;
}
.primery >.big-box >div {
    background-color: var(--primery);
}
.primery >.box-color>div {
    background-color: var(--primery);
}
.primery >.box-color-opacity > div:nth-child(1) {
    background-color: var(--primery);
    opacity: 0.08;
}
.primery >.box-color-opacity > div:nth-child(2) {
    background-color: var(--primery);
    opacity: 0.16;
}
.primery >.box-color-opacity > div:nth-child(3) {
    background-color: rgba(var(--primery), 0.24);
    background-color: var(--primery);
    opacity: 0.24;
}
.primery >.box-color-opacity > div:nth-child(4) {
    background-color: var(--primery);
    opacity: 0.32;
}
.primery >.box-color-opacity > div:nth-child(5) {
    background-color: var(--primery);
    opacity: 0.40;
}
.primery >.box-color-opacity > div:nth-child(6) {
    background-color: var(--primery);
    opacity: 0.48;
}
.secondary >.big-box >div {
    background-color: var(--secondary);
}
.secondary >.box-color>div {
    background-color: var(--secondary);
}
.secondary >.box-color-opacity > div:nth-child(1) {
    background-color: var(--secondary);
    opacity: 0.08;
}
.secondary >.box-color-opacity > div:nth-child(2) {
    background-color: var(--secondary);
    opacity: 0.16;
}
.secondary >.box-color-opacity > div:nth-child(3) {
    background-color: rgba(var(--secondary), 0.24);
    background-color: var(--secondary);
    opacity: 0.24;
}
.secondary >.box-color-opacity > div:nth-child(4) {
    background-color: var(--secondary);
    opacity: 0.32;
}
.secondary >.box-color-opacity > div:nth-child(5) {
    background-color: var(--secondary);
    opacity: 0.40;
}
.secondary >.box-color-opacity > div:nth-child(6) {
    background-color: var(--secondary);
    opacity: 0.48;
}
.secondary >.big-box >div {
    background-color: var(--secondary);
}
.secondary >.box-color>div {
    background-color: var(--secondary);
}
.secondary >.box-color-opacity > div:nth-child(1) {
    background-color: var(--secondary);
    opacity: 0.08;
}
.secondary >.box-color-opacity > div:nth-child(2) {
    background-color: var(--secondary);
    opacity: 0.16;
}
.secondary >.box-color-opacity > div:nth-child(3) {
    background-color: var(--secondary);
    opacity: 0.24;
}
.secondary >.box-color-opacity > div:nth-child(4) {
    background-color: var(--secondary);
    opacity: 0.32;
}
.secondary >.box-color-opacity > div:nth-child(5) {
    background-color: var(--secondary);
    opacity: 0.40;
}
.secondary >.box-color-opacity > div:nth-child(6) {
    background-color: var(--secondary);
    opacity: 0.48;
}
.secondary >.big-box >div {
    background-color: var(--secondary);
}
.secondary >.box-color>div {
    background-color: var(--secondary);
}
.secondary >.box-color-opacity > div:nth-child(1) {
    background-color: var(--secondary);
    opacity: 0.08;
}
.secondary >.box-color-opacity > div:nth-child(2) {
    background-color: var(--secondary);
    opacity: 0.16;
}
.secondary >.box-color-opacity > div:nth-child(3) {
    background-color: var(--secondary);
    opacity: 0.24;
}
.secondary >.box-color-opacity > div:nth-child(4) {
    background-color: var(--secondary);
    opacity: 0.32;
}
.secondary >.box-color-opacity > div:nth-child(5) {
    background-color: var(--secondary);
    opacity: 0.40;
}
.secondary >.box-color-opacity > div:nth-child(6) {
    background-color: var(--secondary);
    opacity: 0.48;
}
.info >.big-box >div {
    background-color: var(--info);
}
.info >.box-color>div {
    background-color: var(--info);
}
.info >.box-color-opacity > div:nth-child(1) {
    background-color: var(--info);
    opacity: 0.08;
}
.info >.box-color-opacity > div:nth-child(2) {
    background-color: var(--info);
    opacity: 0.16;
}
.info >.box-color-opacity > div:nth-child(3) {
    background-color: var(--info);
    opacity: 0.24;
}
.info >.box-color-opacity > div:nth-child(4) {
    background-color: var(--info);
    opacity: 0.32;
}
.info >.box-color-opacity > div:nth-child(5) {
    background-color: var(--info);
    opacity: 0.40;
}
.info >.box-color-opacity > div:nth-child(6) {
    background-color: var(--info);
    opacity: 0.48;
}
.success >.big-box >div {
    background-color: var(--success);
}
.success >.box-color>div {
    background-color: var(--success);
}
.success >.box-color-opacity > div:nth-child(1) {
    background-color: var(--success);
    opacity: 0.08;
}
.success >.box-color-opacity > div:nth-child(2) {
    background-color: var(--success);
    opacity: 0.16;
}
.success >.box-color-opacity > div:nth-child(3) {
    background-color: var(--success);
    opacity: 0.24;
}
.success >.box-color-opacity > div:nth-child(4) {
    background-color: var(--success);
    opacity: 0.32;
}
.success >.box-color-opacity > div:nth-child(5) {
    background-color: var(--success);
    opacity: 0.40;
}
.success >.box-color-opacity > div:nth-child(6) {
    background-color: var(--success);
    opacity: 0.48;
}
/* ------------------------ */
*{
    margin: 0;
}
html,body {
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}
.wrapper {
    display: flex;
    
}
.primery,.secondary,.info,.success {
    margin: 80px 80px 0px 80px ; 
    display: flex;
    
}
.big-box > div {
    height: 130px;
    width: 130px;
    border: 1px solid #E6EEFF;
    border-radius: 4px 4px 0px 0px;
}
.big-box > p {
    margin-bottom: 542px;
    width: 129px;
    height: 48px;
    border: 1px solid #E6EEFF;
    border-radius: 0px 0px 4px 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-top: 5px;
}
.box-color > div, .box-color-opacity > div {
    height: 48px;
    width: 48px;
    border: 1px solid #E6EEFF;
    border-radius: 2px;
    margin-bottom: 16px;
    margin-left: 59px;
}
.integer, .value {
    flex-direction: column;
    padding-top: 13px;
    padding-left: 47px;
}
.integer > div{
    padding-bottom: 49px;
} 
.value > div{
    padding-bottom: 49px;
} 
