*{
  margin:0;
  padding: 0;
}
body{
  max-width: 2750px;
  margin: auto;
  background: #E5E5E5;
  color: #00194C;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.wrapper {
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}
h1 {
  background: #E5E5E5;
  font-size: 25px;
  color: rgba(65, 59, 59, 0.514);
}
.container {
  display: grid;
  background-color:white;
  width: 864px;
}
.item {
  display: grid;
  grid-template-columns:285px 168px 320px;
  margin-left: 32px;
  margin-right: 59px;
  align-items: center;
}
.title {
  font-weight: 600;
  background: #E6EEFF;
  margin: 0;
  padding: 22px 0px 21px 32px;
  padding-top: 22px;
  padding-bottom: 21px;
}
.rows {
  padding-top: 31px;
  padding-bottom: 31px;
  border-bottom: 1px solid rgba(0, 82, 255, 0.16);
}
input{
  border-radius: 4px;
  border: 1px solid #BDBDBD;
  padding: 14px 0px 14px 17px;
  color: #BDBDBD;
  font-size: 14px;
  line-height: 22px;
  width:303px;
  outline: none;
}
.hover:hover, .focus:focus, .pressed:active {
  border: 1px solid #0052FF;
}
.pressed:active {
  color: #00194C;
}
.user-inputs:active {
  color: #00194C;
}
.error {
  border: 1px solid #FF3434;
  color:#FF3434;
  margin-bottom: 10px;
}
.success {
  border: 1px solid #53D86A;
  color: #53D86A;
}
.alert {
  border: 1px solid #FFCB2F;
  color:#FFCB2F;
  margin-bottom: 10px;
}
.disabled {
  background: #F2F2F2;
  cursor: not-allowed;
}
.user {
  font-size:25px;
  color: #BDBDBD;
}
.user-inputs input {
  padding-left: 45px;
  width: 275px;
}
.user-inputs {
  position: relative;
}
.user-inputs .user{
  position: absolute;
  top: 8px;
  padding: 4px 10px;
}
.view {
  font-size:28px;
  color: #BDBDBD;
}
.view-inputs input {
  padding-right: 25px;
  width: 275px;
}
.view-inputs {
  position: relative;
}
.view-inputs .view{
  position: absolute;
  top: 12px;
  right: 21px;
 }
.error-explanation{
  color:#FF3434;
}
.success-icon {
  color: #53D86A;;
}
.alert-explanation {
  color:#FFCB2F;
}

li{
  margin: 10px 0px 0px 50px;
  font-size: 24px;
  font-family: 'SF Pro Text';
  font-weight: 600;
}
