$bottomLineColor:rgba(0, 82, 255, 0.16);
$titleColor:rgba(65, 59, 59, 0.514);
$primeryText:#00194C;
$titleBackground:#E5E5E5;
$backgoundContainer:white;
$ghostPressedColor:#0039B3;
$ghostDiasableColor:#B3CBFF;
$inputsColor:#BDBDBD;
$colorPrimeryButtons:hsla(221, 100%, 50%, 1);
$colorSecondary:hsla(31, 99%, 57%, 1);
$colorInfo:hsla(45, 100%, 59%, 1);
$colorSuccess:hsla(130, 63%, 59%, 1);
$colorError:hsla(0, 100%, 60%, 1);
$calendarCheckDate:#E6EEFF;