@font-face {
  font-family: 'SF Pro Text';
  src: url(SF-Pro-Text-Regular.otf);
}

@font-face {
  font-family: 'SF Pro Display';
  src: url(SFPRODISPLAYREGULAR.OTF);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #00194C;
  background: #E5E5E5;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.container {
  margin: 20px;
  min-width: 325px;
}

.select {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  margin-bottom: 20px;
  color: #0051ff;
  border: 1px solid #0051ff;
  border-radius: 4px;
  padding: 0px 24px;
  font-weight: 500;
}

.chevron-open {
  font-size: 20px;
}

.chevron {
  font-size: 20px;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 54px;
}

.drop {
  background: white;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 10px rgba(1, 21, 52, 0.16);
          box-shadow: 0px 4px 10px rgba(1, 21, 52, 0.16);
}

.drop div {
  border: 1px solid rgba(0, 82, 255, 0.08);
  padding-left: 24px;
  font-weight: 500;
}

.drop div:hover {
  border: 1px solid rgba(0, 82, 255, 0.4);
}

.calendar {
  border: 1px solid rgba(102, 102, 102, 0.24);
  color: #E0E0E0;
  font-weight: 300;
}

.calendar-icon {
  font-size: 25px;
  color: rgba(0, 82, 255, 0.4);
}

.calendar-icon-open {
  font-size: 25px;
}

.select-month {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid rgba(0, 82, 255, 0.08);
  padding: 0px 24px;
}

.base {
  font-style: normal;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (43px)[7];
      grid-template-columns: repeat(7, 43px);
  -ms-grid-rows: (43px)[6];
      grid-template-rows: repeat(6, 43px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  font-size: 18px;
}

.drop > .base {
  padding: 5px 0 23px 0;
  font-weight: 300;
  font-size: 16px;
}

h2 {
  font-size: 10px;
  opacity: 0.5;
  padding-top: 22px;
  font-weight: 200;
}

.previous {
  color: #828282;
}

.set {
  display: -ms-grid;
  display: grid;
  background: #E6EEFF;
  color: #0051ff;
  width: 100%;
  height: 100%;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.from {
  border-radius: 4px 0px 0px 4px;
  background: #0051ff;
  color: white;
}

.to {
  border-radius: 0px 4px 4px 0px;
}

h1 {
  font-weight: 500;
  opacity: 0.8;
  font-size: 10px;
  color: #7B61FF;
}

li {
  color: blue;
  text-align: center;
  margin: 10px 0px 10px 50px;
  font-size: 20px;
  font-family: 'SF Pro Text';
}
/*# sourceMappingURL=dropdown.css.map */